module.exports = {
  development: {
    username: '',
    password: '',
    database: '',
    host: 'tsc-pg',
    port: 5432,
    dialect: 'postgres',
    migrationStorageTableName: 'migrations'
  },
};
